<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Lista de Clientes</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Clientes</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">


<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
  <thead>
    <tr>
      <th>FECHA</th>
      <th>DNI</th>
      <th>NOMBRE</th>
      <th>CELULAR</th>
      <th>CORREO</th>
      <th>DIRECCION</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td> {{ cliente.fecha}} </td>
      <td> {{ cliente.dni }} </td>
      <td> {{ cliente.nombre }} </td>
      <td> {{ cliente.celular }} </td>
      <td> {{ cliente.correo }} </td>
      <td> {{ cliente.direccion }} </td>
      <td> {{ cliente.acciones }} </td>
    </tr>
  </tbody>
</table>


  </div>
</div>
    </section>
